html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}


.h-titulo {
    font-weight: 300;
    font-size: 30px;
}

.main-quienes .icon-main {
    background-color: #1ce0f6;
}

.section-destacados .img-destacados {
    height: 180px;
}

.card {
    border-radius: 1px;
}

.card-body {
    background-color: #1ce0f6;
    height: 180px;
}

.btn-color {
    background-color: #1ce0f6;
    border-radius: 2px;
}

.section-footer {
    background-color: #1ce0f6;
}

.section-footer h3 {
    font-size: 20px;
    font-weight: 300;
    padding-top: 8px;
}

@media (min-width:993px) {
    .card {
        transition: transform 0.4s ease;
    }

    .card:hover {
        transform: scale(1.2);
        z-index: 1;
    }
}

@media (min-width: 1350px) {
    .carousel-container {
        height: 100vh;
        overflow: hidden;
    }

    footer {
        padding: 0 250px;
    }
}